<div class="container main-container">
    <span class="display-4">Register</span>
    <hr>

    <form novalidate (ngSubmit)="addUser()" [formGroup]="registerForm">
        <div class="form-horizontal">

            <div class="form-group">
                <label for="name">Full Name</label>
                <input class="form-control" id="name" type="text" placeholder="Name (required)" formControlName="name">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" type="email" placeholder="Email (required)" formControlName="email">
            </div>

            <div class="form-group">
                <label for="email">Confirm Email</label>
                <input class="form-control" id="confirmEmail" type="email" placeholder="Confirm email (required)" formControlName="confirmEmail">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" placeholder="Password (required)" formControlName="password">
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm Password (required)" formControlName="confirmPassword">
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <button class="btn btn-success" id="register" type="submit">Register</button>
                </div>
            </div>
        </div>
    </form>
</div>
