<div class="container p-5">
    <div class="card align-items-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Testing interpolation and event biding</h5>
          <p class="card-text">Card create for testing</p>
          <button class="btn btn-warning" (click)="AddClick()" [disabled]="clicks >= 10">
            {{ clicks >= 10 ? 'Maximum clickes reached' : 'Add Click' }}
          </button>
          <button class="btn btn-danger ml-2" (click)="ResetCounter()">Reset Counter</button>
          <br>
          <span class="display-3 d-flex justify-content-center"> {{clicks}}</span> 
        </div>
      </div>
    </div>